/*          theme color
----------------------------------- */
$--color-main: rgba(94, 131, 242, 1);
$--color-red: #fb5d62;
$--color-green: #3fe3d3;
$--color-gray: #666;
$--color-orange: #ffb764;

/*          font color
----------------------------------- */
$--font-color__main: $--color-main;
$--font-color__normal: $--color-gray;
$--font-color__success: $--color-green;
$--font-color__danger: $--color-red;

/*          background color
----------------------------------- */
$--bg-color__main: $--color-main;

/*          border color
----------------------------------- */
$--points-form-table-border: 1px solid rgba(229, 229, 229, 1);
