.material-manage .material-manage__listview {
  height: 100%;

  .material-manage__listview-empty {
    text-align: center;

    img {
      margin: auto;
      display: block;
      padding-top: 160px;
    }

    .material-no-content__tip {
      font-size: 12px;
      color: #333;
      font-weight: bold;
    }

    .add-material-btn.el-button {
      margin: 26px 0;
      color: #fff;
      border-radius: 900px;
      border: none;
      background: linear-gradient(-52deg, #3fe3d3 0%, #5e83f2 100%);
      box-shadow: 0 3px 20px rgba(94, 131, 242, 0.3);
    }
  }
}
