/*              theme color
-------------------------------------------- */

$--color-main_1: #3be3ec;
$--color-main_2: #33c4cc;
$--color-main_3: #269399;

$--color-green: #3bc69d;
$--color-orange: #ffb763;
$--color-yellow: #ffda55;
$--color-red: #fb6f70;
$--color-blue: #5a47e1;
$--color-purple: #9348e1;

$--color-font_1: #e0e1e3;
$--color-font_2: #a0a3a8;
